<div class="jumbotron mt-4">
 <h1 class="display-6">SM Solutions</h1>
 <h2 class="display-10">Empresa em Soluções em tarefas</h1>
 <h2 class="display-10">Este aplicativo foi desenvolvido na plataforma Node. 
                       Sua utilização é livre!: <a href="/users/sobre">Saiba mais!</a></h2>
</div>
