<div class="col-md-10 mx-auto">
    <div class="card">
    <div class="h4">
        <h3>Sugestão</h3>
    </div>
    <div class="card-body">
    </div>
       <form action="/users/sugestao" method="POST">
          <div class="form-group">
              <input type="text" name="nome" class="form-control" placeholder="nome" autofocus>
          </div>
           <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="email" autofocus>
          </div>
          <div class="form-group">
              <textarea name="descSugestao" id="" cols="30" rows="3" class="form-control" placeholder="Sugestão"></textarea>
          </div>
          <div class="form-group">
              <button class="btn btn-dark btn-block" type="submit">   
                  Enviar
              </button>
          </div>
       </form>
    </div>
</div>